* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #4dc39a;
  box-shadow: 2px 2px 2px 2px #dbdbdb;
  color: #ffffff;
}

header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header > ul li {
  margin-right: 10px;
}

header > ul li {
  cursor: pointer;
}

header > ul img {
  height: 3.5rem;
  border-radius: 50%;
}

footer {
  display: flex;
  height: 3rem;
  background-color: #b5b9b8;
  box-shadow: 2px 2px 2px 2px #dbdbdb;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

footer > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer > ul li {
  margin-right: 100px;
  display: flex;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff0000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  margin-top: 2rem;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

